/* Estilos para la sección de Misión, Visión y Valores */
.mvv {
    padding: 2rem;
    text-align: center;
}

.mv-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px; /* Añadir espacio entre las tarjetas */
}

/* Define las tarjetas */
.Card {
    flex: 1;
    margin: 15px;
    max-width: 30%;
    min-width: 250px;
    background-color: #323232;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: justify;
}

#mission h3, #vision h3, #values h3 {
    font-size: 25px;
    margin: 10px 0;
    text-align: center;
    color: whitesmoke;
}

#values ul {
    list-style: disc;
    padding-left: 20px;
}

.Card span {
    font-weight: bold;
    color: #d1056b;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .mv-container {
        flex-direction: column;
        align-items: center;
    }

    .Card {
        max-width: 100%;
        margin: 10px 0;
    }
}

#team {
    background-color: #202020;
    padding: 40px;
    text-align: center;
}

#specialties {
    background-color: #323232;
    padding: 40px;
    margin-top: 20px; /* Añade espacio para separar */
}
