.reservation{
    background-color: #202020; /* Fondo del formulario */
    padding: 15px;
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra */
    margin: 60px auto 20px auto; /* Margen superior más grande para separarlo del navbar */
    max-width: 500px; /* Ancho máximo */
}

h1{
    font-size: 3em;
    text-align: center;
    padding: 15px;
}

h3{
    font-size: 1.5em;
    text-align: center;
    padding: 30px;
}

p {
    font-size: 1.24em;
}


#mesa-container {
    text-align: center; /* Centra el contenido de texto */
}

#mesas {
    display: flex;
    justify-content: center; /* Centra las mesas horizontalmente */
    gap: 10px; /* Espacio entre las mesas */
    flex-wrap: wrap; /* Permite que las mesas se ajusten en varias filas */
    max-width: 340px; /* Limita el ancho para forzar 3 mesas por fila */
    margin: 0 auto; /* Centra el contenedor de mesas */
    padding-bottom: 20px;
}

#mesa-btn {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el número de la mesa vertical y horizontalmente */
    width: 100px; /* Ancho de las mesas */
    height: 100px; /* Alto de las mesas */
    border: 2px solid #ccc;
    border-radius: 50%; /* Forma circular */
    background-color: #746743;
    font-size: 30px;
    transition: background-color 0.3s;
}

form {
    display: flex;
    flex-direction: column; /* Organiza los elementos en columna */
}

label {
    margin-bottom: 5px; /* Espaciado entre etiqueta y campo */
    font-weight: bold; /* Texto en negrita */
}

input, select {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #e81010; /* Borde del campo */
    border-radius: 5px; /* Esquinas redondeadas */
    margin-bottom: 15px; /* Espaciado entre campos */
    background-color: #323232; /* Fondo del campo */
    color: whitesmoke; /* Color del texto */
}

#elegir-mesa, #volver, #confirmar-mesa{
    padding: 12px; /* Espaciado interno */
    background-color: #e81010; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    color: whitesmoke; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
}

#elegir-mesa:hover, #volver:hover, #confirmar-mesa:hover {
    background-color: #323232; /* Color al pasar el ratón */
    color: #e81010; /* Color del texto al pasar el ratón */
}
